# Django settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database settings
# For local development with MongoDB
# DATABASE_URL=mongodb://localhost:27017/djangoproject

# For production with MongoDB Atlas
# DATABASE_URL=mongodb+srv://username:password@cluster.mongodb.net/djangoproject

# Superuser settings
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=your-secure-password 